<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Nacion Alien</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="~/Scripts/jquery-3.6.0.slim.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
 

</head>
<body>
    <!-- ************************     CABECERA     ************************** -->
    <div class="contenedor">
        <header class="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"><strong>Nación</strong> Alien</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Noticias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Series</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">UFO en México </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Ciudad de México</a>
                                <a class="dropdown-item" href="#">Puebla</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Provincias</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Acerca De... </a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Burcar</button>
                    </form>
                </div>
            </nav>
        </header>
        </div>

        <!-- ************************     PARTE CENTRAL   **************************-->
        <div class="infoGeneral">
            @RenderBody()

        </div>


        <!-- ************************     PIE DE PAGINA     **************************-->
        <div class="pie">
            <div class="container">
                <div class="content"></div>
                <footer class="row">
                    <div class="sozial col-xs-12 col-sm-6 col-sm-push-6">
                        <ul class="row">
                            <li class="col-xs-6 col-sm-2">
                                <a href="#">
                                    <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_facebook-128.png">
                                </a>
                            </li>
                            <li class="col-xs-6 col-sm-2">
                                <a href="#">
                                    <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/twitter_online_social_media-128.png">
                                </a>
                            </li>
                            <li class="col-xs-6 col-sm-2">
                                <a href="#">
                                    <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/instagram_online_social_media_photo-128.png">
                                </a>
                            </li>
                            <li class="col-xs-6 col-sm-2">
                                <a href="#">
                                    <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_google_plus-128.png">
                                </a>
                            </li>
                        </ul>
                    </div><!-- Ende Sozial media -->

                    <div class="copyright col-xs-12 col-sm-3 col-sm-pull-6">
                        <p> &copy; Nación Alien 2021 </p>
                    </div><!-- Ende Copyright -->

                    <div class="impressum col-xs-12 col-sm-3 col-sm-pull-6">
                        <p> <b> contacto:</b> <br> contacto@nacionalien.com </p>
                        <p> La verdad nos hara libres </p>
                    </div><!-- Ende Impressum -->

                </footer>
            </div>
        </div>








</body>
</html>
