
@{
    ViewBag.Title = "Nuevo Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HOLA</h2>


    <div class="row">
        <div class="col-md-12">
            Uno dos tres
        </div>

    </div>


